<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>674030883694-6jntk95dpfiirfpn3tv7t0l6vtbqmfl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674030883694-6jntk95dpfiirfpn3tv7t0l6vtbqmfl1</string>
	<key>API_KEY</key>
	<string>AIzaSyBmVwzWSgzIeRZyNEepPcM7JoyNKscc2Lo</string>
	<key>GCM_SENDER_ID</key>
	<string>674030883694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bendy-Productions.set-app</string>
	<key>PROJECT_ID</key>
	<string>setapp-101e9</string>
	<key>STORAGE_BUCKET</key>
	<string>setapp-101e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674030883694:ios:4b17537677685ef2</string>
	<key>DATABASE_URL</key>
	<string>https://setapp-101e9.firebaseio.com</string>
</dict>
</plist>